{
  "branches": ["main"],
  "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      "@semantic-release/changelog",
      ["@semantic-release/npm", {
        "npmPublish": false
      }],
      ["@semantic-release/git", {
          "assets": ["package.json", "CHANGELOG.md"],
          "message": "Bump version: ${nextRelease.version} \n\n${nextRelease.notes}"
      }],
      ["@semantic-release/github", {
          "successComment": false,
          "failComment": false
        }
      ],
      ["@semantic-release/exec", {
        "prepareCmd": "echo '::set-output name=VERSION::${nextRelease.version}'"
      }]
  ]
}